{% extends 'general_users_template.html' %}


{% block products %}
    <div class="container m-4">
        <p>Os seguintes produtos estao cadastrados no DB:</p>
        <p>Para mais detalhes, clique neles.</p>
    </div>

    <div class="container">
        <ul class="list-inline">
            {% for product in products %}            
            <a href="{% url 'crud:update_product' product.id %}">
                <li>{{ product.name }} <img src="{{ product.pic.url }}"></li>
            </a>
            {% endfor %}
        </ul>
    </div>

{% endblock %}


